@page "/"
@using MudBlazor
@using System.IO
@using System.Net.Http;
@using HtmlAgilityPack;
@using System.Diagnostics;
@using System.Collections;
@inject IJSRuntime JS
@inject IDialogService DialogService

<MudThemeProvider Theme="CustomTheme" />

<PageTitle>Full Name Uknown</PageTitle>

<MudCarousel Class="fullPageWidth" Style="height:400px; " ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">

    <MudCarouselItem Transition="transition" Color="@Color.Primary">
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:300px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:600px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:900px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:1200px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:1500px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:1800px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:2100px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:2400px; z-index: 0;" />
        <div class="d-flex" style="height:100%; width:100%; position:absolute; z-index: 1">
           
            <MudText Typo="Typo.h3" GutterBottom="true" Class="mx-auto my-auto" Size="@Size.Large"><p>FULL NAME UNKNOWN <br /> <MudText Typo="Typo.h4" Align="Align.Center" GutterBottom="true" Class="mx-auto my-auto z-index:1" Size="@Size.Small"> Level up your game.</MudText></p></MudText>
            
        </div>
        
    </MudCarouselItem>
    <MudCarouselItem Transition="transition" Color="@Color.Primary">
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:300px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:600px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:900px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:1200px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:1500px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:1800px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:2100px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:2400px; z-index: 0;" />
        <div class="d-flex" style="height:100%; width:100%; position:absolute; z-index: 1">

            <MudText Typo="Typo.h3" GutterBottom="true"  Class="mx-auto my-auto" Size="@Size.Large">LEVEL UP YOUR GAME.</MudText>
        </div>
    </MudCarouselItem>

    <MudCarouselItem Transition="transition" Color="@Color.Primary">
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:300px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:600px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:900px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:1200px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:1500px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:1800px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:2100px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:2400px; z-index: 0;" />
        <div class="d-flex" style="height:100%; width:100%; position:absolute; z-index: 1">
            <MudText Typo="Typo.h4" GutterBottom="true" Class="mx-auto my-auto" Size="@Size.Large">Mods that have your back when you need that extra edge!</MudText>
        </div>
    </MudCarouselItem>

    <MudCarouselItem Transition="transition" Color="@Color.Primary">
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:300px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:600px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:900px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:1200px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:1500px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:1800px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:2100px; z-index: 0;" />
        <MudImage Src="Images/binaryfinal.png" Width="300" Height="300" Alt="Mony the dog" Elevation="0" Class="" Style="position:absolute; left:2400px; z-index: 0;" />
        <div class="d-flex" style="height:100%; width:100%; position:absolute; z-index: 1">
            <MudText Typo="Typo.h3" GutterBottom="true" Class="mx-auto my-auto" Size="@Size.Large">DOWNLOAD Risk of Tears V1.1.2!</MudText>
        </div>
    </MudCarouselItem>
    

</MudCarousel>


<MudPaper Class="fullPageWidth" Style="position:relative; top:270px;" Elevation="0">
    <br/>
    <MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="@DownloadFileFromStream" Style="position:relative; left:41%;"> DOWNLOAD NEMESIS 1.4.3 </MudButton>
    

    <MudDivider DividerType="DividerType.Middle" Class="my-6" />
    <MudText Typo="Typo.h4"> Who are we?</MudText>
    <MudText>
        We are Full Name Unknown, a few computer science students passionate about reverse engineering, hacking, and the world of cyber security.  We have launched this site as a way to realease some
        of our projects as well as document what we are currently learning and working on. We hope you find something that grabs your interest!
    </MudText>
    <br/>
    <MudText Typo="Typo.h4"> What do we provide?</MudText>
    <MudText>
        We strive to provide quality mods to all our members, feel free to download free versions or support us by purchasing our reasonably priced premium packages which gives you license keys to access all of our most entertaining features!
        This site is also a hub for learning and providing writeups on projects and more.
    </MudText>
    <br/>
    <MudText Typo="Typo.h4"> What does the future hold? </MudText>
    <MudText>
        We have just released our first mod; NEMESIS, for the game Deep Rock Galactic which provides over 25 features all packaged in a clean and easy to navigate GUI!  Nemesis is being constantly
        updated and improved so feel free to download the latest version above.  The current project we are working on is "0x90" which is a game with the aim to teach players
        basic computer science and hacking concepts in a fun immersive way!  Check out the details of this project in the 0x90 tab on our site.

    </MudText><br />

    <MudDivider DividerType="DividerType.Middle" Class="my-6" />
    <a href="https://ko-fi.com/fullnameunknown" target="_blank"> <MudImage Src="Images/coffee.PNG" Width="150" Height="100" Alt="Mony the dog" Elevation="0" Class="rounded-lg; center" Style="position:relative; left:26%;" /> </a>
    <a href="https://discord.gg/4Txz2SwmAA" target="_blank"><MudImage Src="Discord.png" Alt="Discord" Elevation="0" Class="rounded-lg" Style="position:relative; width:100px; height:100px; left:26%" /></a>
    <a href="https://www.youtube.com/@@WhoInGodsNameDev" target="_blank"><MudImage Src="youtube.png" Alt="Youtube" Elevation="0" Class="rounded-lg" Style="position:relative; width:150px; height:100px; left:26%" /></a>
    <a href="https://www.instagram.com/fullname_unknown_/?hl=en" target="_blank"><MudImage Src="Instagram.png" Alt="Instagram" Elevation="0" Class="rounded-lg" Style="position:relative; width:90px; height:90px; left:26%" /></a>
    <br/>
    <br/>
    
</MudPaper>

<style>
    .fullPageWidth {
        background: white;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }   
    .centreText{
        position:absolute;
        right:50%;
    }
</style>
@code{

    [Inject]
    HttpClient Client { get; set; }
    byte[] file;

    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;

    MudTheme CustomTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Primary = Colors.DeepOrange.Default,
            Secondary = Colors.DeepOrange.Default,
            AppbarBackground = Colors.DeepOrange.Default,

        },
        LayoutProperties = new LayoutProperties()
        {
            AppbarHeight = "35px",
        },
        Typography = new Typography()
        {
            Default = new Default()
            {
                FontFamily = new[] { "Poppins", "Helvetica", "Arial", "sans-serif", "Impact" }
            }
        }
    };
    private void OpenDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<Register>("Register", options);
    }

    async Task GetFile()
    {
        file = await Client.GetByteArrayAsync("/Nemesis1.4.3.zip");
    }

    private async Task DownloadFileFromStream()
    {
        await GetFile();
        var fileStream = new MemoryStream(file);

        var fileName = "Nemesis1.4.3.zip";

        using var streamRef = new DotNetStreamReference(stream: fileStream);

        await JS.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
    }



    private void GetDownloads()
    {
        string url = "https://www.unknowncheats.me/forum/downloads.php?do=file&id=42859";
        HttpClient httpClient = new HttpClient();
        var html = httpClient.GetStringAsync(url).Result;
        var htmlDocument = new HtmlDocument();
        htmlDocument.LoadHtml(html);

        var downloadElement = htmlDocument.DocumentNode.SelectSingleNode("//td[@class='alt2']");
        var downloads = downloadElement.InnerText.Trim();
        Debug.WriteLine(downloads);
        
    }
}

